h1{
    text-align: center;
    background-color: rgb(29, 28, 39);
}
 img{   
   width: 250px;
   display: flex;
   margin-left: 550px;
   border-radius: 20%;

  
   
}
body {
    background-image:  url(Design\ sem\ nome.png) ;
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
        margin: 5px;
        color: rgb(252, 253, 253);
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }


p{
    margin: 5px;

}

div a {
    margin: auto;
    margin-left: 20px;
     font-size: 30px;
     margin-top: 50px;
     color: aqua;
     
  
}

div  :hover{
    animation:infinite;
    background: rgb(66, 65, 73);
}



    
